<div class="hero">
  <div class="wrapper landingmenu">
    <h1 class="landingmenu--header"> Cosmetica </h1>
    <p> <a class="homebutton btn btn-primary" href="#"> New Game </a> </p>
    <p> <a class="homebutton btn btn-secondary" href="#"> Continue Game</a> </p>
  </div>
</div>
